git+https://github.com/jhellan/authomatic.git
blinker
click
Flask
Flask-Mail
Flask-SQLAlchemy
httplib2
itsdangerous
Jinja2
MarkupSafe
oauth2client
psycopg2
pyasn1
pyasn1-modules
python-openid
rauth
requests
rsa
six
SQLAlchemy
Werkzeug
