body {
  min-width: 0 !important;
}

#head-menu, 
#head-login,
#line-top,
#app-footer-wrapper,
#privacy-policy-footer, .info-link {
  display: none;
}

#app-content {
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  max-width: none !important;
  min-width: 0 !important;
}