{% extends "layout.html" %}
{% block title %}Register email{% endblock %}
{% block body %}
  <h2>Please enter your email address</h2>
  <p>
  <form action="" method=post>
    <dl>
      <dt>Name:
      <dd><input type=text name=id_url size=30 value="{{ request.values.id_url }}">
      <dt>EMail:
      <dd><input type=text name=email size=30 value="{{ request.values.email }}">
    </dl>
    <p>
      <input type=submit value="Register email">
      <input type=hidden name=next value="{{ next }}">
  </form>
  <p>
{% endblock %}